<div class="info-wrapper">

    <div class="image-info-wrapper">
        <img src="<%= pinInfo.image_url %>" alt="" class="info-images">
    </div>

    <div class="details-info-wrapper">
        <p>Title: <%= pinInfo.title %></p>
        <p>Description: <%= pinInfo.description %></p>
        <p>Posted by: <%= pinInfo.username %></p>

        <br>

        <% if (currentUser.id === pinInfo.user_id) { %>
         
            <form action="/pin/<%= pinInfo.id %>/edit" method="get">
                <button class="blue-button">edit</button>
            </form>

            <form action="/pin/<%= pinInfo.id %>?_method=delete" method="post">
                <button class="red-button">delete</button>
            </form>

            <a href="" class="heart"></a>
            

        <% } %>

    </div>

</div>