<h1>Info page</h1>

<img src="<%= pinInfo.image_url %>" alt="">

<p>Title: <%= pinInfo.title %></p>
<p>Description: <%= pinInfo.description %></p>
<p>Posted by: <%= pinInfo.username %></p>

<p><%= pin_ID %></p>

<form action="/pin/<%= pinInfo.id %>?_method=put" method="post">
    <button>edit</button>
</form>

<form action="/pin/<%= pinInfo.id %>?_method=delete" method="post">
    <button>delete</button>
</form>